.button {
    background: #f3ede5;
    border: 1px solid #000000;
    padding:5px 13px;
    line-height:24px;
    border-radius:10px;
    color: #1DB954;
    font-size:1.5rem;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease-in-out;
    min-width: 70px; 

    &:hover {
        background-color: #1aa34a;
    }
}
  
