*{
    font-family: 'ubuntu', sans-serif

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
}

.navbar-container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid; 
    padding-bottom: 5px;
}


.navbar-logo {
    font-size: 64px;
    margin-right: 4rem;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-size: 20px;
    margin-right: 55rem;
}

.navbar-links a{
    margin-right: 2rem;
}